* {
}

html {
    background: white;
    color: black;
}

body {
    margin: 0;
    padding: 0;
}

.body {
    min-width: 100%;
    min-height: 100%;
}

video {
    min-width: 100%;
    min-height: 100%;
    position: absolute;
}

.logoName {
    font-family: "FF Container Regular";
    font-size: 3em;
    color: white;
}

a {
    padding-left: 60px;
    padding-top: 6px;
    padding-right: 60px;
    text-decoration: none;
    font-family: helvetica;
    color: white;
    font-size: 17px;
}

.header {
    display: flex;
    height: 120px;
    align-items: center;
    padding-left: 30px;
    padding-top: 30px;
    justify-content: space-between;
    width: 100%;
    background: black;
    z-index: 5000;
}

.header-profile {
    display: flex;
    background-color: white;
    color: black;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 160px;
}

.logoProfile {
    margin-left: 30px;
    font-family: "FF Container Regular";
    font-size: 3em;
    color: black;
}

.logout-btn {
    color: black;
}

.friends-btn {
    color: black;
}

.online-btn {
    color: black;
}

.header-profile img {
    max-width: 100%;
    max-height: 100%;
}

.profile-size {
    height: 150px;
    width: 150px;
}

.profile-pic {
    width: 40%;
    height: 40%;
    border: 1px solid black;
    margin: 30px;
    margin-left: 57px;
}
.profile-picture {
    display: flex;
    margin-bottom: -30px;
}

.profile-info {
    margin-top: 10px;
    font-family: helvetica;
}

.otherprofile-pic {
    width: 40%;
    height: 40%;
    border: 1px solid black;
    margin: 30px;
}

.profile {
    color: black;
}

.upload-modal {
    height: 200px;
    width: 150px;
    overflow: auto;
    background-color: #fefefe;
    margin: 5%;
    /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 90%;
    position: fixed;
}

.register-form {
    display: flex;
    flex-direction: column;
    font-family: helvetica;
    width: 320px;
    height: 480px;
    background-color: rgba(255, 41, 170, 0.6);
    color: #fff;
    box-sizing: border-box;
    padding: 37px 30px;
    z-index: 1;
    position: absolute;
    margin-left: 8%;
    margin-top: 15%;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
}

.register-form input {
    border: 1px solid #bbb;
    border-radius: 20px;
}

.register-hover:hover {
    color: #ff0dbf;
}

.login-form {
    display: flex;
    flex-direction: column;
    font-family: helvetica;
    width: 320px;
    height: 360px;
    background: rgba(255, 41, 170, 0.6);
    color: #fff;
    box-sizing: border-box;
    padding: 37px 30px;
    z-index: 1;
    position: absolute;
    margin-left: 8%;
    margin-top: 15%;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    padding-top: 25px;
}

.login-form input {
    border: 1px solid #bbb;
    border-radius: 20px;
}

.login-hover:hover {
    color: #ff0dbf;
}

.footer {
    display: flex;
    height: 10%;
    align-items: center;
    justify-content: space-between;
}

/*-----------------Button--------------------*/

@import "https://fonts.googleapis.com/css?family=Bungee+Shade";

.btn-friend_req {
    margin-left: 29vh;
}
button.striped-shadow.dark {
    overflow: visible;
    border: 0;
    padding: 0;
    margin: 1.8rem;
}
.btn.striped-shadow span {
    display: block;
    position: relative;
    z-index: 2;
    border: 5px solid;
}

.btn.striped-shadow.dark span {
    border-color: #393939;
    background: rgb(255, 134, 205);
    color: #393939;
}

.btn.striped-shadow.dark {
    font-family: "Bungee Shade", sans-serif;
    height: 80px;
    line-height: 65px;
    display: inline-block;
    letter-spacing: 1px;
    position: relative;
    font-size: 1.35rem;
    transition: opacity 0.3s, z-index 0.3s step-end, -webkit-transform 0.3s;
    transition: opacity 0.3s, z-index 0.3s step-end, transform 0.3s;
    transition: opacity 0.3s, z-index 0.3s step-end, transform 0.3s,
        -webkit-transform 0.3s;
    z-index: 1;
    background-color: transparent;
    cursor: pointer;
}

.btn.striped-shadow.dark {
    width: 155px;
    height: 48px;
    line-height: 38px;
}

button.btn.striped-shadow.dark:after,
button.btn.striped-shadow.dark:before {
    background-image: linear-gradient(
        135deg,
        transparent 0,
        transparent 5px,
        #393939 5px,
        #393939 10px,
        transparent 10px
    );
}

button.btn.striped-shadow:hover:before {
    max-height: calc(100% - 10px);
}

button.btn.striped-shadow:after {
    width: calc(100% - 4px);
    height: 8px;
    left: -10px;
    bottom: -9px;
    background-size: 15px 8px;
    background-repeat: repeat-x;
}

button.btn.striped-shadow:after,
button.btn.striped-shadow:before {
    content: "";
    display: block;
    position: absolute;
    z-index: 1;
    transition: max-height 0.3s, width 0.3s, -webkit-transform 0.3s;
    transition: transform 0.3s, max-height 0.3s, width 0.3s;
    transition: transform 0.3s, max-height 0.3s, width 0.3s,
        -webkit-transform 0.3s;
}

.btn.striped-shadow:hover {
    -webkit-transform: translate(-12px, 12px);
    -ms-transform: translate(-12px, 12px);
    transform: translate(-12px, 12px);
    z-index: 3;
}

button.btn.striped-shadow:hover:after,
button.btn.striped-shadow:hover:before {
    -webkit-transform: translate(12px, -12px);
    -ms-transform: translate(12px, -12px);
    transform: translate(12px, -12px);
}
button.btn.striped-shadow:before {
    width: 8px;
    max-height: calc(100% - 5px);
    height: 100%;
    left: -12px;
    bottom: -5px;
    background-size: 8px 15px;
    background-repeat: repeat-y;
    background-position: 0 100%;
}

button {
    margin-top: 20px;
}

.button {
    background-color: black;
    border: none;
    color: white;
    padding: 6px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    margin-top: 10px;
}
