* {
}

html {
    background: black;
    color: white;
}

body {
    margin: 0;
    padding: 0;
}



.body {
    min-width: 100%;
    min-height: 100%;
}

video {
    min-width: 100%;
    min-height: 100%
}

.logoName{
    font-family: 'FF Container Regular';
}

a {
    text-decoration: none;
    font-family: helvetica;
    color: white;
}

.header {
    border: 1px solid white;
    display: flex;
    height: 150px;
    align-items: center;
    padding-left: 30px;
    padding-top: 30px;
    justify-content: space-between;
}

.logo-header {
    object-fit: scale-down
}


.body {

}

.footer {
    display: flex;
    height: 10%;
    align-items:center

}
